* {
    margin: 0;
}

.header {
    background-image: url(img/pattern.png);
    padding-bottom: 150px;
    background-repeat: repeat-x;
    background-size: contain;
    height: 1px;
    background-color: rgb(50, 204, 255);
}

.rif_persona {
    font-size: 14px;
}

.articolo {
    margin: 20px 0px;
}

.tabella {
    margin-bottom: 20px;
}

#customers th {
    text-align: left;
    background-color: rgb(63, 146, 255);
}

.footer {
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    font-size: 20px;
    color: white;
    padding-bottom: 200px;
}

.footer2 {
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20%;
    font-size: 20px;
    color: white;